<hr style="border-width: 5px; background-color: crimson; margin-top: -24px;">
<div class="home-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Introduction </h3>
                </div>
                <div class="sidebar-home">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath1">
                    </div>
                    <div class="text-center">
                        <h4>Cedric Kelly</h4>
                        <p>Network engineer</p>
                    </div>
                    <br>
                    <p>The new employee introduction gives you the opportunity to explain the new employee's job, location,
                        and start date. It alerts your employees to look for a new employee to greet and welcome. A positive
                        new employee introduction letter also shares several points of interest about the new employee.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Goals </h3>
                </div>
                <div class="sidebar-home">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath2">
                    </div>
                    <div class="text-center">
                        <h4>Howard Hatfield</h4>
                        <p>UX/UI designer</p>
                    </div>
                    <br>
                    <p>Most organizations see a dramatic increase in employee and business performance when they effectively
                        set individual employee goals and closely tie them to the company's overall strategy. The process
                        of setting goals should be a collaborative process between an employ ee and his or her manager.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Empowerment </h3>
                </div>
                <div class="sidebar-home">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath3">
                    </div>
                    <div class="text-center">
                        <h4>Jenette Caldwell</h4>
                        <p>SEO specialist</p>
                    </div>
                    <br>
                    <p>Employee empowerment is giving employees a certain degree of autonomy and responsibility for decision-making
                        regarding their specific organizational tasks.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Decision </h3>
                </div>
                <div class="sidebar-home">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath4">
                    </div>
                    <div class="text-center">
                        <h4>Jenette Caldwell</h4>
                        <p>SEO specialist</p>
                    </div>
                    <br>
                    <p>Employee empowerment is giving employees a certain degree of autonomy and responsibility for decision-making
                        regarding their specific organizational tasks.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="section">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk product</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing
                        meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll
                        to get here. Add a button if you want the user to see more.</h5>
                    <br>
                    <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Beautiful Gallery</h4>
                            <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>

    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>